<IfModule mod_rewrite.c>
RewriteEngine on
RewriteCond $1 !^(index\.php|images|robots\.txt|static)

#if it not under www folder,please use 'RewriteRule ^(.*)$ /sub_you_foder_name /index.php/$1 [L]'
RewriteRule ^(.*)$ /index.php/$1 [L]

</IfModule>